<%var opts = {}
opts.has_share = true%>
<%- include partials/head.ejs %>
<%- include partials/header.ejs %>
<main class="container">
	<%if (typeof exposed_value !== "undefined") {
		%>
		<header class="term-header">
			<%if (exposed == "tags") {
				var safetag = site.tags[exposed_value].nicename
				%>
				<h1 class="term-title">Tag: <%=exposed_value%><a href="<%=site.url%>/tags/<%=safetag%>/rss" type="application/rss+xml"><i class="fontello icon-rss" aria-hidden="true"></i></a>
				</h1>
			<%} else {%>
				<h1 class="term-title"><%=exposed_value%></h1>
			<%}%>
		</header>
	<%}%>
	<% if (typeof pagination !=="undefined") {%>
	    <% pagination.files.forEach(file => {
			file.opts = opts%>
			<%- include("content/post.ejs", file)%>
		<% }) %>
	<% } %>
</main>
<%- include partials/footer.ejs %>
