<item>
<%if (typeof thumbnail_url !== "undefined"){%>
    <media:thumbnail url="<%=site.url%>/<%=thumbnail_url%>"/>
    <%if (typeof thumbnail_caption !== "undefined"){%>
        <media:description type="plain">This was some really bizarre band I listened to as a young lad.</media:description>
    <%}%>
<%}%>
    <title><%=title%></title>
    <link><%=site.url%><%=permalink%></link>
    <guid><%=site.url%><%=permalink%></guid>
    <%if (typeof description !== "undefined"){%>
        <description><%=description%></description>
    <%}%>
    <%//original_contents.replace()
    var fixed_contents = original_contents.toString()
    .replace(/<div class="videowrapper">.*?data-src="(.*?)"[\S\s]*?div><.div>/gm, "<iframe src=\"$1\" frameborder=\"0\" allowfullscreen></iframe>")
    .replace(/data-src="(.*?)"(.*?)src=".*?"/gm, "src=\"$1\" $2")
    %>
    <%if (fixed_contents.includes("<!--more-->")) {
        let excerpt = fixed_contents.toString()
        excerpt = excerpt.substring(0, excerpt.indexOf("<!--more-->"))
        excerpt = excerpt + "<p><a class=\"read-more\" href=\""+permalink+"\">Read More…</a></p>"
        %>
        <content:encoded><![CDATA[excerpt<%- excerpt%>]]></content:encoded>
    <%} else {%>
        <content:encoded><![CDATA[content<%- fixed_contents%>]]></content:encoded>
    <%}%>
    <comments><%=site.url%><%=permalink%>#disqus_thread</comments>
    <%for (tag of tags) {%>
		<category><%=tag%></category>
	<%}%>
    <%if (group == "rss"){%>
        <source url="<%=site.url%>/<%=path%>"><%=site.title%></source>
    <%} else {%>
        <%if (path.includes("tag/artwork")) {%>
            <source url="<%=site.url%>/<%=path.slice(4, path.length)%>"><%=site.title%>HERE - Tag:<%=exposed_value%></source>
        <%} else {%>
            <source url="<%=site.url%>/<%=path%>"><%=site.title%> - Tag:<%=exposed_value%></source>
        <%}%>
    <%}%>
    <%var date_formated = moment(date).utc().format('ddd, DD MMM YYYY HH:mm:ss [GMT]')%>
    <pubDate><%=date_formated%></pubDate>
</item>