<entry>
    <%if (typeof thumbnail_url !== "undefined"){%>
        <media:thumbnail url="<%=site.url%>/<%=thumbnail_url%>"/>
        <%if (typeof thumbnail_caption !== "undefined"){%>
            <media:description type="html"><%=thumbnail_caption%></media:description>
        <%}%>
    <%}%>
    <title><%=title%></title>
    <link href="<%=site.url%><%=permalink%>"/>
    <id><%=site.url%><%=permalink%></id>
    <%if (typeof description !== "undefined"){%>
        <summary><%=description%></summary>
    <%}%>
    <%var fixed_contents = original_contents.toString()
    .replace(/<div class="videowrapper">.*?data-src="(.*?)"[\S\s]*?div><.div>/gm, "<iframe src=\"$1\" frameborder=\"0\" allowfullscreen></iframe>")
    .replace(/data-src="(.*?)"(.*?)src=".*?"/gm, "src=\"$1\" $2")
    %>
    <%if (fixed_contents.includes("<!--more-->")) {
        let excerpt = fixed_contents.toString()
        excerpt = excerpt.substring(0, excerpt.indexOf("<!--more-->"))
        excerpt = excerpt + "<p><a class=\"read-more\" href=\""+permalink+"\">Read More…</a></p>"
        %>
        <content type="html"><![CDATA[<%- excerpt%>]]></content>
    <%} else {%>
        <content type="html"><![CDATA[<%- fixed_contents%>]]></content>
    <%}%>
    <link rel="service.post" type="text/html" href="<%=site.url%><%=permalink%>#disqus_thread" title="Comment"/>
    <%for (tag of tags) {
        var safetag = site.tags[tag].nicename%>
        <category term="<%=site.url%>/tags/<%=safetag%>" label="<%=tag%>"></category>
    <%}%>
    <%var date_formated = moment(date).utc().format("YYYY-MM-DDTHH:mm:ssZ")%>
    <updated><%=date_formated%></updated>
</entry>
